* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Inter", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.header_img {
  width: 35px;
  height: 25px;
}
.header_nav {
  display: none;
}
.header_nav-list-element {
  font-family: "Inter", sans-serif;
}
.header_hamb {
  background: url("../../images/icon-menu.svg");
  background-repeat: no-repeat;
  width: 30px;
  margin-top: 5px;
}
.header_menu {
  position: absolute;
  right: 0;
  width: 260px;
  min-height: 100vh;
  background-color: white;
}
.header_menu_close {
  background-image: url("../../images/icon-menu-close.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
}
.header_menu-list {
  position: absolute;
  top: 120px;
}
.header_menu-list-element {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  line-height: 45px;
}

.inactive {
  display: none;
}

.sectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}
.sectionOne_img {
  background-image: url("../../images/image-web-3-mobile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  height: 300px;
  margin: 10px auto;
}
.sectionOne_title {
  font-weight: bold;
  font-size: 40px;
  margin: 10px;
}
.sectionOne_text {
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
  color: hsl(236deg, 13%, 42%);
  line-height: 25px;
}
.sectionOne_btn {
  font-weight: bold;
  color: hsl(36deg, 100%, 99%);
  background-color: hsl(5deg, 85%, 63%);
  text-transform: uppercase;
  margin: 10px;
  padding: 10px 35px 10px 35px;
  border: none;
  letter-spacing: 5px;
}

.sectionTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: hsl(240deg, 100%, 5%);
  margin: 20px;
  padding: 10px;
}
.sectionTwo_title {
  color: hsl(35deg, 77%, 62%);
  font-size: 35px;
  margin: 10px;
}
.sectionTwo_container {
  margin: 5px;
  border-bottom: 1px solid hsl(233deg, 8%, 79%);
}
.sectionTwo_container_title {
  color: hsl(36deg, 100%, 99%);
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sectionTwo_container_text {
  color: hsl(233deg, 8%, 79%);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 18px;
  padding: 5px;
}
.sectionTwo_container3 {
  margin: 5px;
  padding: 10px;
}

.sectionThree {
  margin: 10px;
  padding-bottom: 20px;
  padding-top: 15px;
}
.sectionThree_article {
  display: flex;
  padding: 10px;
}
.sectionThree_article_img {
  width: 130px;
  height: 150px;
}
.sectionThree_article_container {
  margin-left: 20px;
}
.sectionThree_article_container_title {
  font-weight: bold;
  font-size: 30px;
  color: hsl(236deg, 13%, 42%);
  opacity: 0.5;
  margin-bottom: 20px;
}
.sectionThree_article_container_subtitle {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}
.sectionThree_article_container_text {
  color: hsl(236deg, 13%, 42%);
  font-size: 14px;
  line-height: 20px;
}

/*# sourceMappingURL=main.css.map */
