.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  @include desktop {
    margin: 100px 150px 0 150px;
  }

  &_img {
    width: 35px;
    height: 25px;
    @include desktop {
      width: 50px;
      height: 40px;
    }
  }
  &_nav {
    display: none;
    @include desktop {
      display: flex;
    }
    &-list {
      display: flex;
      &-element {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        color: $grayish-blue;
      }
    }
  }
  &_hamb {
    background: url('../../images/icon-menu.svg');
    background-repeat: no-repeat;
    width: 30px;
    margin-top: 5px;
    @include desktop {
      display: none;
    }
  }
  &_menu {
    position: absolute;
    right: 0;
    width: 260px;
    min-height: 100vh;
    background-color: white;
    &_close {
      background-image: url('../../images/icon-menu-close.svg');
      width: 30px;
      height: 30px;
      position: absolute;
      right: 20px;
    }
    &-list {
      position: absolute;
      top: 120px;
      &-element {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: black;
        text-align: center;
        padding: 20px;
        margin-bottom: 20px;
        line-height: 45px;
      }
    }
  }
}
.inactive {
  display: none;
}

.header_menu-list-element:hover {
  color: $soft-red;
}
