.sectionThree {
  margin: 10px;
  padding-bottom: 20px;
  padding-top: 15px;
  grid-area: c;
  @include desktop {
    display: flex;
    margin-top: 50px;
  }
  &_article {
    display: flex;
    padding: 10px;

    &_img {
      width: 130px;
      height: 150px;
    }
    &_container {
      margin-left: 20px;

      &_title {
        font-weight: bold;
        font-size: 30px;
        color: $dark-grayish-blue;
        opacity: 0.5;
        margin-bottom: 20px;
      }
      &_subtitle {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 20px;
      }
      &_text {
        color: $dark-grayish-blue;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
.sectionThree_article_container_subtitle:hover {
  color: $soft-red;
}
