.sectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  &_img {
    background-image: url('../../images/image-web-3-mobile.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    height: 300px;
    margin: 10px auto;
  }
  &_title {
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
  }
  &_text {
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    color: $dark-grayish-blue;
    line-height: 25px;
  }
  &_btn {
    font-weight: bold;
    color: $off-white;
    background-color: $soft-red;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px 35px 10px 35px;
    border: none;
    letter-spacing: 5px;
  }
}
